.border-form{
    border: 1px solid gray;
    border-radius: 5px;
    margin: 100px auto;
    width: 400px;
    
}

.err{
    color: red;
    font-size: 10px;
}

.not-found{
    font-size: 100px;
    margin: auto;
}

.forgot-password{
    font-size: 16px;
    margin-left: 65%;
}

.m20{
    margin: 20px;
}
